/*css reset*/
*{
    margin:0;
    padding:0;
}

/*css variables*/
:root{
    --navbar-height: 59px;
}

/*Navigation Bar*/
#navbar{
    position:sticky;
    top: 0px;
    display:flex;
    align-self: center;
}

/* Navigation Bar: logo and image */
#logo{
    margin: 10px 14px;

}

#logo img{
    height:40px;
    margin:3px 6px;
}

/* Navigation Bar: List styling*/

#navbar ul{
    display:flex;
    font-family: 'Pacifico', cursive;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;

}
.push{
    margin-left: auto;
    
}

#navbar ul li{
   
    list-style:none;
    font-size: 1.3rem;
}

#navbar ul li a{ 
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius:20px;
    text-decoration:none;
} 


#navbar ul li a:hover{
    color: black;
    background-color:brown; 
}

/*home*/
#home h1{
    color: white;
    text-align:center;
    font-family: 'Pacifico', cursive;
}

#home p{
    color: white;
    text-align:center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}


#home{
    display: flex;
    height: 550px;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('../img/bg.jpg') no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    height:642px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
/*sERVICES SECTION*/
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    padding:34px;
    margin:3px 6px;
    border-radius: 28px;
    border:2px solid brown;
    background-color: rgb(231, 184, 198);
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;
}
/*client section*/
#client-section{
    height: 300px;
}
#client img{
    height: 124px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client-section::before{
    content: "";
    position: absolute;
    background:url('../img/bg1.jpg');
    width:100%;
    height:54%;
    z-index: -1;
    opacity: 0.4;
}
#client-item{
    padding:54px;
    
}
/*contact section*/
#contact{
    position: relative;
}
#contact::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background:url('../img/contact_us.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width:100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width:40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family:'Bree Serif', serif;
}



footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/*utility class*/
.h-primary{
    font-size: 2.8rem;
    padding:12px;
    font-family: 'Bree Serif', serif;

}
.h-secondary{
    font-size: 1.8rem;
    padding:12px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color:white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}



